.current-weather {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 20vh;
	background: #bbe7ca;
	padding: 20px;
	border-radius: 10px;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.5rem;
}

.main-image {
	display: flex;
	flex-direction: row;
}

.main-image img {
	height: 7rem;
}

.main-text {
	line-height: 7rem;
}

.description {
	display: flex;
	flex-direction: column;
	margin: 5px;
}

.sevendays-weather {
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

@media screen and (max-width: 883px) {
	h1,
	h3 {
		font-size: medium;
	}
}

@media screen and (max-width: 480px) {
	h1,
	h3 {
		font-size: medium;
	}
	.section {
		display: flex;
		flex-direction: column;
	}

	.current-weather {
		width: 90vw;
		height: 300px;
		display: inline-block;
		flex-direction: column;
	}

	.main-image img {
		height: 5rem;
	}

	.main-text {
		font-size: medium;
		line-height: 5rem;
	}

	.description {
		font-size: small;
	}
}
